.item(class="{{item.category}}")
    .item-thumbnail(ng-class="item.extension")
        .content
            h3 {{item.name}}.{{item.extension}}
            p
                code(ng-bind-html="item.thumbnail")
    .item-infos(ng-class="item.extension")
        table
            tr
                td
                    b Name
                td {{item.name}}
                tr
                    td
                        b Extension
                    td {{item.extension}}
            tr
                td
                    b Size
                td {{item.size | humanReadableFileSize}}
            tr
                td
                    b Author
                td {{item.author}}
            tr
                td
                    b Created
                td {{item.created}}

        .item-controls.clearfix
            a(ng-click="delete(item.id)")
                i.fa.fa-trash-o
            a(ng-click="copyClipboard(item.id)")
                i.fa.fa-clipboard
            a(ng-href="{{item.path}}")
                i.fa.fa-download
            a(ng-href="/share/code/{{item.id}}")
                i.fa.fa-pencil
