.item(class="{{item.category}}")
    .item-thumbnail(style="background-image: url({{item.thumbnail}})")
    .item-infos
        table
            tr
                td
                    b Name
                td {{item.name}}
            tr
                td
                    b Published
                td {{item.created | date: 'dd.MM.yyyy - HH:mm'}}
        .item-controls.clearfix
            a(ng-click="delete(item.id)", popover="Delete",
                popover-trigger="mouseenter", popover-placement="bottom",
                popover-popup-delay="750")
                i.fa.fa-trash-o
            a(href="/share/stream/{{item.id}}", popover="View",
                popover-trigger="mouseenter", popover-placement="bottom",
                popover-popup-delay="750")
                i.fa.fa-eye
