.client-header.clearfix.navbar-inverse
  span.pull-left.name {{client.name}}
  span.pull-right.controls
    i.minimize.glyphicon.glyphicon-minus
    i.maximize.glyphicon.glyphicon-resize-full
    i.remove.glyphicon.glyphicon-remove
.client-content(style="background-image: url('{{client.avatar}}')")
  .client-options(data-fittext=".35")
      span.alert.alert-info.share-screen-to(ng-class="{showOption: screenActive}",
          ng-mouseenter="screenActive = true", ng-mouseleave="screenActive = false")
        i.glyphicon.glyphicon-picture
      span.alert.alert-info.share-webcam-to(ng-class="{showOption: webcamActive}",
          ng-mouseenter="webcamActive = true", ng-mouseleave="webcamActive = false")
        i.glyphicon.glyphicon-facetime-video