#banner.page-header
  .row
    .col-sm-12.jumbotron.text-center
      h1 Unwatched
      p.lead Pretty Close Collaboration

      .well.well-lg.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
        form#createRoom.form-horizontal(name="createRoom", novalidate)
          .form-group(ng-class="{'has-error' : false}")
            label.col-sm-5.control-label(for='inputRoomname') Room-Name
            .col-sm-7
              input#inputRoomname.form-control(type='text', ng-model="room.name", 
                name="roomname", placeholder='Room-Name', required)
          .form-group
            label.col-sm-5.control-label(for='inputRoomPassword') Room-Password
            .col-sm-7
              input#inputRoomPassword.form-control(type='password', 
                ng-model="room.password", placeholder='Room-Password', required)
          .row
            .col-sm-12
              a#submitCreateRoom.btn.btn-lg.btn-primary(ng-click="createRoom()" 
                ng-disabled="createRoom.$invalid") Create Room

  .row
    .col-sm-12.text-center
      h2.
        Your benefits of Unwatched
  .row
    .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      .row
        h3.text-center Benefit #1
        .col-xs-4
          img(src="http://placehold.it/120x120")
        .col-xs-8
          p.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam 
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam 
            erat, sed diam voluptua. At vero eos et accusam et justo duo 
            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
            sanctus est Lorem ipsum dolor sit amet.
      .row
        h3.text-center Benefit #2
        .col-xs-8
          p.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam 
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam 
            erat, sed diam voluptua. At vero eos et accusam et justo duo 
            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
            sanctus est Lorem ipsum dolor sit amet.
        .col-xs-4
          img(src="http://placehold.it/120x120")
      .row
        h3.text-center Benefit #3
        .col-xs-4
          img(src="http://placehold.it/120x120")
        .col-xs-8
          p.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam 
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam 
            erat, sed diam voluptua. At vero eos et accusam et justo duo 
            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
            sanctus est Lorem ipsum dolor sit amet.
