.modal-header
  h3 Login
.modal-body
  form.form-horizontal(name="signup", novalidate)
    fieldset
      .form-group(ng-class="{'has-error' : signup.email.$error.email}")
        label.col-sm-4.control-label(for='inputEmail') Email
        .col-sm-6
          input#inputEmail.form-control(type='email', ng-model="user.email", 
            name="email", placeholder='Email', required)
      .form-group
        label.col-sm-4.control-label(for='inputPassword') Password
        .col-sm-6
          input#inputPassword.form-control(type='password', 
            ng-model="user.password", placeholder='Password', required)
      .form-group
        label.col-sm-4.control-label(for='inputConfirmPassword') Confirm Password
        .col-sm-6
          input#inputConfirmPassword.form-control(type='password', 
            ng-model="user.passwordConfirm", placeholder='Confirm Password', 
            required) 

.modal-footer
  button.btn.btn-success(ng-click="ok()" ng-disabled="signup.$invalid") OK
  button.btn.btn-default(ng-click="cancel()") Cancel