.page-header
  fieldset
    legend {{room.name}}
    .row.clearfix
      #clients.col-md-5.clearfix(ng-controller="ClientsCtrl")
        .panel(ng-class="getActivePanel('clients')", ng-click="setActivePanel('clients')")
          .panel-heading Clients
          .panel-body
            .col-md-4.col-sm-4.col-xs-4.no-padding(ng-repeat="client in clients")
              .client(client resize)
            .options
              i.share-screen-to-all
              i.share-webcam-to-all

      .col-md-5#chat(ng-controller="ChatCtrl")
        .panel(ng-class="getActivePanel('chat')", ng-click="setActivePanel('chat')", focus-on-click="input-chat-message")
          .panel-heading Chat
          .panel-body
            #chat-messages(update-scroll-position="chat.messages.length")
              .chat-message.clearfix(ng-repeat="message in chat.messages", delay-display="message")
                span.well.well-sm(ng-class-even="'own-msg'")
                  b {{message.sender}}: 
                  {{message.content}}
          .panel-footer.no-padding
            .row
              form(name="chatMessage", no-validate, ng-submit="submitChatMessage()")
                .col-xs-10
                  input#input-chat-message.form-control(type="text", required,
                    ng-model="chat.message")
                a#submit-chat-message.btn.col-xs-2(ng-click="submitChatMessage()", ng-href="#",
                  ng-disabled="chatMessage.$invalid", focus-on-click="input-chat-message")
                  i.icon-submit-chat-message.glyphicon.glyphicon-share-alt

      .col-md-2#notes(ng-controller="NotesCtrl")
        .panel(ng-class="getActivePanel('notes')", ng-click="setActivePanel('notes')")
          .panel-heading.clearfix
            span Notes
            i#addNote.pull-right.well.well-sm.no-margin.glyphicon.glyphicon-file(ng-click="addNote()")
          .panel-body
            .note.clearfix(ng-repeat="(title, path) in room.notes")
              fieldset
                legend.heading {{title}}
                p.controls.well.well-sm
                    i.glyphicon.glyphicon-eye-open.view-note  (alt="View note")
                    i.glyphicon.glyphicon-pencil.edit-note(alt="Edit note")
                    i.glyphicon.glyphicon-cloud-download.download-note(alt="Download note")
                    i.glyphicon.glyphicon-trash.delete-note(alt="Delete note", ng-click="removeNote(title)")
