.section.group
    .col.span_1_of_2
        .heading.clearfix
            .controls
                form(name="controlSearch", no-validate)
                    .control-input
                        input#searchString.form-control(type="text", 
                            required, ng-model="controls.searchString",
                            placeholder="Click to search")
                .layout
                    span(ng-click="controls.layout='layout-list'",
                        ng-class="{'active':controls.layout=='layout-list'}")
                        i.fa.fa-list-ul
                    span(ng-click="controls.layout='layout-icons'",
                        ng-class="{'active':controls.layout=='layout-icons'}")
                        i.fa.fa-th

        ul.items-container.clearfix(ng-class="{'list':controls.layout=='layout-list', 'icons':controls.layout=='layout-icons'}",)
            li.item(ng-class="item.category",
                ng-repeat="item in shared_items | filter:controls.searchString")
                ng-include(src="item.templateUrl")
            

    .chat(chat)
                