.section.group
    .col.span_1_of_2
        .heading.clearfix
            .controls
                form(name="controlSearch", no-validate)
                    .control-input
                        input#searchString.form-control(type="text", 
                            required, ng-model="controls.searchString",
                            placeholder="Click to search")
                .layout
                    span(ng-click="controls.layout='layout-list'",
                        ng-class="{'active':controls.layout=='layout-list'}")
                        i.fa.fa-list-ul
                    span(ng-click="controls.layout='layout-icons'",
                        ng-class="{'active':controls.layout=='layout-icons'}")
                        i.fa.fa-th

        ul.items-container.clearfix(ng-class="{'list':controls.layout=='layout-list', 'icons':controls.layout=='layout-icons'}",)
            li.item(ng-class="item.category",
                ng-repeat="item in shared_items | filter:controls.searchString")
                div(ng-if="item.category=='screenshot'")
                    .item-thumbnail
                        img(src="images/{{item.thumbnail}}")
                    .item-infos
                        table
                            tr
                                td
                                    b Name
                                td {{item.name}}
                            tr
                                td
                                    b Size
                                td {{item.size}}
                            tr
                                td
                                    b Author
                                td {{item.author}}
                            tr
                                td
                                    b Created
                                td {{item.created}}
                        .item-controls.clearfix
                            span
                                i.fa.fa-trash-o
                            span
                                i.fa.fa-clipboard
                            span
                                i.fa.fa-download
                            span
                                i.fa.fa-eye
                div(ng-if="item.category=='note'")
                    .item-thumbnail
                        h3 {{item.thumbnail.title}}
                        .content(ng-bind-html="item.thumbnail.content")
                    .item-infos
                        table
                            tr
                                td
                                    b Name
                                td {{item.name}}
                            tr
                                td
                                    b Size
                                td {{item.size}}
                            tr
                                td
                                    b Author
                                td {{item.author}}
                            tr
                                td
                                    b Created
                                td {{item.created}}
                            tr
                                td
                                    b Edited
                                td {{item.edited}}
                        .item-controls.clearfix
                            span
                                i.fa.fa-trash-o
                            span
                                i.fa.fa-clipboard
                            span
                                i.fa.fa-download
                            span
                                i.fa.fa-pencil
                div(ng-if="item.category=='file'")
                    .item-thumbnail
                        .infos
                            table
                                tr
                                    td
                                        b Name
                                    td {{item.name}}
                                tr
                                    td
                                        b Ext.
                                    td {{item.extension}}
                        i.fa.fa-file
                    .item-infos
                        table
                            tr
                                td
                                    b Name
                                td {{item.name}}
                                tr
                                    td
                                        b Extension
                                    td {{item.extension}}
                            tr
                                td
                                    b Size
                                td {{item.size}}
                            tr
                                td
                                    b Author
                                td {{item.author}}
                            tr
                                td
                                    b Created
                                td {{item.created}}

                        .item-controls.clearfix
                            span
                                i.fa.fa-trash-o
                            span
                                i.fa.fa-clipboard
                            span
                                i.fa.fa-download

                div(ng-if="item.category=='code'")
                    .item-thumbnail(ng-class="item.extension")
                        .content
                            h3 {{item.name}}.{{item.extension}}
                            p
                                code(ng-bind-html="item.thumbnail")
                    .item-infos(ng-class="item.extension")
                        table
                            tr
                                td
                                    b Name
                                td {{item.name}}
                                tr
                                    td
                                        b Extension
                                    td {{item.extension}}
                            tr
                                td
                                    b Size
                                td {{item.size}}
                            tr
                                td
                                    b Author
                                td {{item.author}}
                            tr
                                td
                                    b Created
                                td {{item.created}}

                        .item-controls.clearfix
                            span
                                i.fa.fa-trash-o
                            span
                                i.fa.fa-clipboard
                            span
                                i.fa.fa-download
                            span
                                i.fa.fa-pencil

                div(ng-if="item.category=='shared-screen'")
                    .item-thumbnail
                        img(src="images/{{item.thumbnail}}")
                    .item-infos
                        table
                            tr
                                td
                                    b Name
                                td {{item.name}}
                            tr
                                td
                                    b Published
                                td {{item.created}}
                        .item-controls.clearfix
                            span
                                i.fa.fa-trash-o
                            span
                                i.fa.fa-clipboard
                            span
                                i.fa.fa-eye

                div(ng-if="item.category=='shared-webcam'")
                    .item-thumbnail
                        img(src="images/{{item.thumbnail}}")
                    .item-infos
                        table
                            tr
                                td
                                    b Name
                                td {{item.name}}
                            tr
                                td
                                    b Published
                                td {{item.created}}
                        .item-controls.clearfix
                            span
                                i.fa.fa-trash-o
                            span
                                i.fa.fa-clipboard
                            span
                                i.fa.fa-eye
            

    .chat(chat)
                