.row(ng-if="isInRoom")
    .user-container.clearfix
        .user(ng-repeat="user in users", ng-class="{'col-lg-3 col-md-4 col-sm-6 col-xs-12':chat_state!='expanded', 'col-lg-6 col-md-6 col-sm-12':chat_state=='expanded'}")
            .user-inner
                img(src="{{user.pic}}", style="box-shadow:0 0 150px 0 {{user.getColorAsHex()}}")
                .info
                    {{user.name}}
                    .joined
                        |Joined at: {{user.joinedDate | date: 'dd:MM:yyyy - HH:mm'}}
                .controls
                    .controls-inner.clearfix
                        a(href="/share/screen")
                            i.fa.fa-desktop
                        a(href="/share/note")
                            i.fa.fa-file-text-o
                        a(href="/share/code")
                            i.fa.fa-code
                        a(href="/share/file")
                            i.fa.fa-floppy-o
                        a(href="/share/webcam")
                            i.fa.fa-video-camera

