.app/
.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pyc
*.bak

pids
logs
results

npm-debug.log
node_modules

*.sublime-project
*.sublime-workspace

builtAssets/
tmp/

public/*.css
public/js
public/css

userconfig.coffee
userconfig*
