doctype html
html
  head
    title #{title} - My Site
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    != css("app")
  body(ng-app="unwatched")
    div not found!
