doctype html
html
  head
    title #{title} - My Site
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    != css("app")
  body(ng-app="unwatched")
    div(class="navbar navbar-default navbar-fixed-top")
      .container
        .navbar-header
          a(href="/" class="navbar-brand") Unwatched
          button(class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main")
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href="/cyborg") Cyborg
            li
              a(href="/index") Index
            li
              a(href="#") Menu 3

          ul.nav.navbar-nav.navbar-right
            li
              a(href="http://expressjs.com/" target="_blank") Express
            li
              a(href="http://jade-lang.com/" target="_blank") Jade
            li
              a(href="http://learnboost.github.io/stylus/" target="_blank") Stylus

    .container
      div(ng-view)
    != js("app")
