doctype html
html(ng-app="unwatched")
  head
    title #{title} - My Site
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    meta(name="fragment" content="!")
    link(type='text/css', rel='stylesheet', href='/css/app.css')
  body
    .sidenav-container
      .sidenav
        .icon-align
          .icon-container
            a.menu-home.icon(href="/")
            .subicons-container
              .subicons
                .subicon-container.top2
                  a.menu-about.subicon(href="/about").tooltip
                    span 
                      i.fa.fa-long-arrow-left
                      |  about
                .subicon-container.top1
                  a.menu-tutorial.subicon(href="/tutorial").tooltip
                    span 
                      i.fa.fa-long-arrow-left
                      |  Tutorial
                .subicon-container.bottom1
                  a.menu-create-room.subicon(href="/createRoom").tooltip
                    .stack-align
                      span.fa-stack
                        i.fa.fa-building.fa-stack-1x
                        i.fa.fa-plus.fa-stack-1x
                    span 
                      i.fa.fa-long-arrow-left
                      |  create a room
                .subicon-container.bottom2
                  a.menu-leave-room.subicon(href="/leaveRoom").tooltip
                    .stack-align
                      span.fa-stack
                        i.fa.fa-building.fa-stack-1x
                        i.fa.fa-arrow-right.fa-stack-1x
                    span 
                      i.fa.fa-long-arrow-left
                      |  leave room room
            .clearfix
          .icon-container
            a.menu-user.icon(href="/members")
            .subicons-container
              .subicons
                .subicon-container.top2
                  a.menu-user-settings.subicon(href="/settings").tooltip
                    .stack-align
                      span.fa-stack
                        i.fa.fa-user.fa-stack-1x
                        i.fa.fa-gear.fa-stack-1x
                    span 
                      i.fa.fa-long-arrow-left
                      |  settings
                .subicon-container.top1
                  a.menu-user-add.subicon(href="/addUser").tooltip
                    .stack-align
                      span.fa-stack
                        i.fa.fa-user.fa-stack-1x
                        i.fa.fa-plus.fa-stack-1x
                    span 
                      i.fa.fa-long-arrow-left
                      |  invite a user
                .subicon-container.bottom2
                  a.menu-user-history(href="/history").tooltip
                    span 
                      i.fa.fa-long-arrow-left
                      |  latest chat messages
                    .history-align
                      .history-entry
                        img(src="http://png-1.findicons.com/files/icons/1072/face_avatars/300/i04.png")
                        span bla bla blaasd fadsad f....
                      .history-entry
                        img(src="https://cdn1.iconfinder.com/data/icons/iconshock_guys/512/matthew.png")
                        span bla bla bla....
                      .history-entry
                        img(src="http://icons.iconarchive.com/icons/hopstarter/superhero-avatar/256/Avengers-Black-Widow-icon.png")
                        span bla bla bla....
                      .history-entry
                        img(src="http://png-4.findicons.com/files/icons/175/halloween_avatar/256/jack_skellington.png")
                        span bla bla bla....
          .icon-container
            a.menu-share.icon(href="/share")
            .subicons-container
              .subicons
                .subicon-container.top2
                  a.menu-share-screen.subicon(href="/share/screen").tooltip
                    span 
                      i.fa.fa-long-arrow-left
                      |  share your screen
                .subicon-container.top1
                  a.menu-share-note.subicon(href="/share/note").tooltip
                    span 
                      i.fa.fa-long-arrow-left
                      |  edit and share a textfile
                .subicon-container.middle
                  a.menu-share-code.subicon(href="/share/code").tooltip
                    span 
                      i.fa.fa-long-arrow-left
                      |  edit and share some code
                .subicon-container.middle
                  a.menu-share-image.subicon(href="/share/image").tooltip
                    span 
                      i.fa.fa-long-arrow-left
                      |  share a picture
                .subicon-container.bottom1
                  a.menu-share-file.subicon(href="/share/files").tooltip
                    span 
                      i.fa.fa-long-arrow-left
                      |  share a file
                .subicon-container.bottom2
                  a.menu-share-webcam.subicon(href="/share/webcam").tooltip
                    span 
                      i.fa.fa-long-arrow-left
                      |  share your webcam
    
    //-          .icon 
                .fa.fa-file.fa-inverse
                .subicon-container
                  .subicons
                    .subicon.top2
                      .fa.fa-desktop
                    .subicon.top1
                      .fa.fa-file-text-o
                    .subicon.middle
                      .fa.fa-picture-o
                    .subicon.bottom1
                      .fa.fa-floppy-o
                    .subicon.bottom2
                      .fa.fa-camera


    .view-container(ng-controller="AppCtrl")
      .clearfix.view-frame(ng-view)

    script(src='/js/app.js')
