doctype html
html(ng-app="unwatched")
  head
    title #{title} - My Site
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    meta(name="fragment" content="!")
    link(type='text/css', rel='stylesheet', href='/css/app.css')
  body
    div
      .sidenav-container
        .sidenav
          .icon-align
            .icon-container
              a.menu-home.icon(href="/")
              .subicons-container
                .subicons
                  .subicon-container.top2
                    a.menu-about.subicon(href="/about")
                  .subicon-container.top1
                    a.menu-tutorial.subicon(href="/tutorial")
                  .subicon-container.bottom1
                    a.menu-create-room.subicon(href="/createRoom")
                  .subicon-container.bottom2
                    a.menu-leave-room.subicon(href="/leaveRoom")
              .clearfix
            .icon-container
              a.menu-user.icon(href="/members")
              .subicons-container
                .subicons
                  .subicon-container.top2
                    a.menu-user-settings.subicon(href="/settings")
                  .subicon-container.top1
                    a.menu-user-add.subicon(href="/addUser")
                  .subicon-container.bottom2
                    a.menu-user-history.subicon(href="/history")
            .icon-container
              a.menu-share.icon(href="/share")
              .subicons-container
                .subicons
                  .subicon-container.top2
                    a.menu-share-screen.subicon(href="/share/screen")
                  .subicon-container.top1
                    a.menu-share-note.subicon(href="/share/note")
                  .subicon-container.middle
                    a.menu-share-image.subicon(href="/share/image")
                  .subicon-container.bottom1
                    a.menu-share-file.subicon(href="/share/files")
                  .subicon-container.bottom2
                    a.menu-share-webcam.subicon(href="/share/webcam")
              //
                a(href="/")
                  i.fa.fa-home.fa-inverse
                .subicon-container
                  .subicons
                    .subicon.top2
                      i.fa.fa-info 
                    .subicon.bottom2
                      i.fa.fa-question
            //
              .icon
                a(href="/members")
                  i.fa.fa-users.fa-inverse
                .subicon-container
                  .subicons
                    .subicon.top2
                      span.fa-stack.fa-lg
                        i.fa.fa-user.fa-stack-2x
                        i.fa.fa-gear.fa-stack-1x.fa-inverse
                    .subicon.top1
                      span.fa-stack.fa-lg
                        i.fa.fa-user.fa-stack-2x
                        i.fa.fa-plus-circle.fa-stack-1x.fa-inverse
                    .history
                      | dlkjhifhölkjnlksmfg<br>
                      | lkjfbökjgölkgjlökjgö<br>

              .icon 
                .fa.fa-file.fa-inverse
                .subicon-container
                  .subicons
                    .subicon.top2
                      .fa.fa-desktop
                    .subicon.top1
                      .fa.fa-file-text-o
                    .subicon.middle
                      .fa.fa-picture-o
                    .subicon.bottom1
                      .fa.fa-floppy-o
                    .subicon.bottom2
                      .fa.fa-camera


    .view-container(ng-controller="AppCtrl")
      .clearfix.view-frame(ng-view)

    script(src='/js/app.js')
