doctype html
html(ng-app="unwatched")
  head
    title #{title} - My Site
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    meta(name="fragment" content="!")
    link(type='text/css', rel='stylesheet', href='/css/app.css')
  body
    .sidenav-container
      .sidenav
        .icon-container 
          .icons
            .icon
              i.fa.fa-home.fa-inverse
              .subicon-container
                .subicons
                  .subicon.top2
                    i.fa.fa-info 
                  .subicon.bottom2
                    i.fa.fa-question
            .icon
              i.fa.fa-users.fa-inverse
              .subicon-container
                .subicons
                  .subicon.top2
                    span.fa-stack.fa-lg
                      i.fa.fa-user.fa-stack-2x
                      i.fa.fa-gear.fa-stack-1x.fa-inverse
                  .subicon.top1
                    span.fa-stack.fa-lg
                      i.fa.fa-user.fa-stack-2x
                      i.fa.fa-plus-circle.fa-stack-1x.fa-inverse
                  .history
                    | dlkjhifhölkjnlksmfg<br>
                    | lkjfbökjgölkgjlökjgö<br>

            .icon 
              .fa.fa-file.fa-inverse
              .subicon-container
                .subicons
                  .subicon.top2
                    .fa.fa-desktop
                  .subicon.top1
                    .fa.fa-file-text-o
                  .subicon.middle
                    .fa.fa-picture-o
                  .subicon.bottom1
                    .fa.fa-floppy-o
                  .subicon.bottom2
                    .fa.fa-camera
          <br><br><br>
          .icons
            .icon
              .fa.fa-home.fa-inverse
              .subicon-container
                .subicons
                  .subicon.top2
                    .fa.fa-dashboard
                  .subicon.top1 
                  .subicon.bottom2
            .icon
              .fa.fa-users.fa-inverse
              .subicon-container
                .subicons
                  .subicon.top2
                  .subicon.top1
                  .subicon.middle
                  .subicon.bottom1
                  .subicon.bottom2
            .icon 
              .fa.fa-file.fa-inverse
              .subicon-container
                .subicons
                  .subicon.top2
                  .subicon.top1
                  .subicon.bottom1
                  .subicon.bottom2
    
    .container
      div(ng-view)

    .footer
      center v
        span(app-version)
    script(src='/js/app.js')
