doctype html
html(ng-app="unwatched")
  head
    title Unwatched - Pretty Close Collaboration
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    meta(name="fragment" content="!")
    link(type='text/css', rel='stylesheet', href='/css/app.css')
  body
    .sidenav-container(onmousedown="return false", ng-controller="SideCtrl",
      ng-intro-autostart="false", ng-intro-options="IntroOptions",
      ng-intro-method="tutorial")
      .sidenav
        .icon-align
          .dummy(id="step1")
            .icon-container
              a.menu-home.side-icon(ng-href="{{roomUrl}}").side-tooltip
                .side-popover
                  .arrow
                  .content home
              .subicons-container
                .subicons
                  .subicon-container.top2
                    a.menu-about.subicon(href="/about").side-tooltip
                      .side-popover
                        .arrow
                        .content about
                  //.subicon-container.top1
                    a.menu-tutorial.subicon(href="#", ng-click="tutorial()").side-tooltip
                      .side-popover
                        .arrow
                        .content tutorial
                  .subicon-container.bottom1(ng-if="isInRoom")
                    a.menu-create-room.subicon(href="/createRoom", target="_blank").side-tooltip
                      .stack-align
                        span.fa-stack
                          i.fa.fa-building.fa-stack-1x
                          i.fa.fa-plus.fa-stack-1x
                      .side-popover
                        .arrow
                        .content create a room
                  .subicon-container.bottom2(ng-if="isInRoom")
                    a.menu-leave-room.subicon(href="#", ng-click="leaveRoom()").side-tooltip
                      .stack-align.clearfix
                        span.fa-stack
                          i.fa.fa-building.fa-stack-1x
                          i.fa.fa-arrow-right.fa-stack-1x
                      .side-popover
                        .arrow
                        .content leave room
              .clearfix
            .icon-container.ng-hide(ng-show="isInRoom")
              a.menu-user.side-icon(href="/users").side-tooltip
                .notification.ng-hide(ng-show="usersNotification!=0", ng-bind="usersNotification")
                .side-popover
                  .arrow
                  .content show users
              .subicons-container
                .subicons
                  .subicon-container.top2
                    a.menu-user-history(href="/history").side-tooltip
                      .side-popover
                        .arrow
                        .content chat history
                      .history-align
                        .history-entry(ng-repeat="message in messages | orderBy:'sent_at':true")
                          img(ng-src="{{users[message.sender].pic}}")
                          span {{message.message | shorten}}
            .icon-container.ng-hide(ng-show="isInRoom")
              a.menu-share.side-icon(href="/share").side-tooltip
                .notification.ng-hide(ng-show="sharesNotification!=0", ng-bind="sharesNotification")
                .side-popover
                  .arrow
                  .content share overview
              .subicons-container
                .subicons
                  .subicon-container.top2
                    a.menu-share-webcam.subicon(href="/share/stream").side-tooltip
                      .side-popover
                        .arrow
                        .content  share your webcam/screen
                  .subicon-container.top1
                    a.menu-share-code.subicon(href="/share/code").side-tooltip
                      .side-popover
                        .arrow
                        .content edit and share some code
                  .subicon-container.bottom1
                    a.menu-share-file.subicon(href="/share/file").side-tooltip
                      .side-popover
                        .arrow
                        .content share a file/picture
                  .subicon-container.bottom2
                    a.menu-share-note.subicon(href="/share/note").side-tooltip
                      .side-popover
                        .arrow
                        .content edit and share a textfile

    .view-container(ng-controller="AppCtrl")
        .alert.alert-danger.shutdown.ng-hide(ng-show="isClosed",
            ng-bind-html="'Your room is going to <strong>shut down</strong>...'")
        .clearfix.view-frame.container-fluid(ng-view)

    .chat(chat, ng-if="showChat")
    div
      .video-container.clearfix
        .video.screen.ng-hide(ng-show="isStreaming['screen']&&!disableStream['screen']")
          .video-controls
            a(ng-href="#", kill-stream="screen")
              i.fa.fa-times-circle
          video#screen(autoplay, stream="screen")
        .video.webcam.ng-hide(ng-show="isStreaming['webcam']&&!disableStream['webcam']")
          .video-controls
            a(ng-href="#", kill-stream="webcam")
              i.fa.fa-times-circle
          video#webcam(autoplay, stream="webcam")

    .screenshot-overlay.ng-hide(ng-show="screenshotCountdown!=-1", ng-if="isChrome")
      div(ng-bind="screenshotCountdown")


    .browser(ng-if="!isChrome")
      .info.ng-hide(ng-show="!isChrome")
       | We are sorry to tell you that this project currently just works on the latest Google Chrome Browser. Get the latest Chrome under <a href=\'http://www.google.com/intl/en/chrome/browser/\'>Google Chrome</a> to check out Unwatched - <b>Pretty Close Collaboration</b>.

    script(src="http://api.turnservers.com/api.js?key=nWbpkPHBnHRfYqrIkdzIyASZFZgodGZZ")
    script
      |  window.iceServers = "";
      |
      |  window.turnserversDotComAPI.iceServers(function(data) {
      |     window.iceServers = data;
      |     console.log("iceServers: ", data);
      |  });
    script(src="/js/app.js")
