doctype html
html(ng-app="unwatched")
  head
    title #{title} - My Site
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    meta(name="fragment" content="!")
    link(type='text/css', rel='stylesheet', href='/css/app.css')
  body
    .sidenav-container
      .sidenav
        .icon-container
          .icons
            .icon
              .subicon-container
                .subicons
                  .subicon.top1
                  .subicon.middle
                  .subicon.bottom1
            .icon
              .subicon-container
                .subicons
                  .subicon.top2
                  .subicon.top1
                  .subicon.middle
                  .subicon.bottom1
                  .subicon.bottom2
            .icon
              .subicon-container
                .subicons
                  .subicon.top2
                  .subicon.top1
                  .subicon.bottom1
                  .subicon.bottom2
            .icon
              .subicon-container
                .subicons
                  .subicon.top1
                  .subicon.middle
                  .subicon.bottom1

    .container
      .clearfix(ng-view)

    script(src='/js/app.js')
