@require "lib/reset.css"
@require "lib/responsivegridsystem/*.css"
@require "lib/font-awesome.css"
@require "lib/bootstrap-custom/*.css"
@require "mixins.styl"
@require "animations.styl"
@require "forms.styl"
@require "room.styl"
@require "members.styl"
@require "chat.styl"
@require "fonts.styl"
@require "sidenav.styl"

@import "nib"

body
  //background-color #333

.no-padding
    padding 0

.no-margin
    margin 0


html
    margin: 0
    padding: 0
    padding-left:50px
    radial-gradient_( rgba(255,255,255,1), 0%, rgba(240,240,240,1), 100% )
    z-index: 0

body
    background none

html:after
    content: '';
    position:fixed
    display: block;
    left: 0
    right: 0
    top: 0
    bottom: 0
    height: 100%
    width: 100%
    opacity: 0.2;
    background-image url("img/noise.png")
    z-index: -2




.view-container
    width 100%
    // position relative

    .view-frame
        // absolute: top left
        width 100%

    .view-frame.ng-enter
        animation 1.1s fade-in-delayed
        z-index 100

    .view-frame.ng-leave
        animation 0.5s fade-out
        z-index 99