@require "lib/reset.css"
@require "lib/font-awesome.css"
@require "lib/bootstrap.css"
@require "lib/bootstrap-theme.css"
@require "lib/jquery-ui-1.10.4.custom.css"
@require "lib/tinymce/*.css"
@require "mixins.styl"
@require "animations.styl"
@require "forms.styl"
@require "members.styl"
@require "chat.styl"
@require "share.styl"
@require "controls.styl"
@require "fonts.styl"
@require "sidenav.styl"

@import "nib"

body
  //background-color #333

.no-padding
    padding 0

.no-margin
    margin 0


body
    background none
    margin 0
    padding 0
    radial-gradient_( rgba(255,255,255,1), 0%, rgba(240,240,240,1), 100% )

body:after
    //content: ''; <-- da kann man im chrome nix mehr anklicken??
    position fixed
    display block
    left 0
    right 0
    top 0
    bottom 0
    height 100%
    width 100%
    opacity 0.2;
    background-image url("img/noise.png")
    z-index -2
    content ''




.view-container
    width 100%

    .view-frame
        width 100%

        &.chat-expanded
            width 50%
            margin-left 0

    .view-frame.ng-enter
        animation 1.1s fade-in-delayed
        z-index 100

    .view-frame.ng-leave
        animation 0.5s fade-out
        z-index 99

#create-room-container
    min-width 450px
    width 50%
    max-width 700px
    float left
    margin-left 15%
    background white
    border 1px solid rgba(0,0,0,0.3)
    box-shadow 0px 0px 25px rgba(0,0,0,0.2)

.info-container
    position relative
    font-size 26px
    float left
    font-family 'Indie Flower'
    font-style italic
    font-weight 500

    .info
        border 7px solid #c81e2b
        border-radius 200px / 110px
        padding 30px
        margin-top 50px
        left 90px
        position relative

        &:first-child
            left 130px

#create-room-container form.form-horizontal .form-group
    padding-bottom 10px

.modal
    z-index 10000000

.video
    width 320px
    height 180px
    fixed bottom 20px left 40px
    box-shadow 0 0 15px rgba(53,53,53,1)
    z-index 10
    opacity 1

    video
        width 100%
        height 100%

    .video-controls
        absolute top -17px right -10px
        opacity 0
        transition opacity .5s ease-in-out
        font-size 25px

        a
            color black
            cursor pointer

            i
                background white
                border-radius 50%

    &:hover
        opacity 1

        .video-controls
            opacity 0.7

            &:hover
                opacity 1

    &.ng-hide
        line-height 0
        opacity 0
        padding 0 10px

.video.ng-hide-add,
.video.ng-hide-remove
  display block!important

.video.ng-hide-add,
.video.ng-hide-remove
  transition all ease-in-out .5s

