.heading
    fixed top left
    width 100%
    background rgba(27,27,27, 0.8)
    height 40px
    z-index 1000
    padding 3px        

    .brand
        font-size 16px
        color white
        font-weight bold
        padding-left 40px
        padding-top 5px

    input#searchString
        width 200px
        transition width .3s cubic-bezier(0.230, 1.000, 0.320, 1.000)
        border-radius 0
        float right
        padding-right 10px

        &:focus
            width 275px

    .layout

        span
            padding 3px 5px
            float right
            margin 2px

            &.active
                background rgba(27,27,27, 1)
                border-radius 5px

            &:hover
                i
                    opacity 1

            i
                color white
                padding 5px
                cursor pointer
                opacity 0.6
                transition opacity .2s linear

    .sorting
        color white
        font-size 13px
        padding-top 1px
        padding-left 40px

        div, span
            padding 7px 10px
            float left
            margin 0 2px

        div
            cursor pointer
            position relative
            transition background .3s ease-in-out

            &.active, &:hover
                background rgba(27,27,27, 1)
                border-radius 5px

            &.active:after
                font-family FontAwesome
                content: '\f0dd'
                padding-left 7px

        &.ascending
            .active:after
                content: '\f0de'

.chat-expanded
    .heading
        width 50%
    .sorting
        font-size 12px


.popover
    background-color rgb(48, 48, 48)
    color white
    font-size 11px
    
.popover.top .arrow:after
    border-top-color rgb(48, 48, 48)

.popover.bottom .arrow:after
    border-bottom-color rgb(48, 48, 48)