@import "nib"

.form-horizontal legend
    text-align left
    text-indent 5%

form
    .form-control
        padding 8px 12px

    span.help-block
        text-align left
        position absolute
        font-size 0.8em
        text-indent 10px

input:invalid, textarea:invalid
    box-shadow none