.form-horizontal .control-label, .form-horizontal .radio,
.form-horizontal .checkbox, .form-horizontal .radio-inline,
.form-horizontal .checkbox-inline
    margin-top 1%

.form-horizontal legend
    text-align left
    text-indent 5%

.form-control
    padding 8px 12px
