@import "nib"

.member-container
    width 90%
    margin auto

.member
    width 25%
    float left
    opacity 0
    animation fade-item-in 1.5s forwards
    border-radius 25px
    text-align center
    cursor pointer
    padding 5%

    for i in (1..20)
        &:nth-child({i})
            animation-delay i*0.2s

    img
        height 100%
        width 100%
        border-radius 50%
        box-shadow 0 0 5px 5px #888
        opacity 0.7
        transition opacity .25s linear

        &:hover
            opacity 1

.col 
    margin 0
// .span_1_of_2
//     width 50%
.span_2_of_2
    .member
        width 20%
        padding 3.5%