.dashboard
    margin-top 75px
    
    .well
        font-size 13px
        box-shadow 0 0 15px rgba(53,53,53,1)

        dl
            dd, dt
                padding 10px

        h1
            border-bottom 1px solid black

        .img-container
            padding 30px            
            .img
                width 270px
                height 270px
                background-size 100%
                background-repeat no-repeat
                background-position center
                border-radius 25px

                &.drag-over-class
                    box-shadow 0 0 15px rgba(53,53,53,1)
                    border 1px solid grey