.items-container
    padding-top 40px

    a
        text-decoration none
        color black

    li
        &.ng-move, &.ng-enter, &.ng-leave
            transition opacity .75s ease-in-out

        &.ng-leave.ng-leave-active, &.ng-move, &.ng-enter
            opacity 0


        &.ng-leave, &.ng-move.ng-move-active, &.ng-enter.ng-enter-active
            opacity 1

    &.layout-icons

        .item-container
            width 89%
            margin 20px auto
            transition opacity .2s ease-in-out, background .2s ease-in-out, box-shadow 0.2s ease-in-out
            border-radius 10px
            //box-shadow 0 0 35px #333
            box-shadow 0 0 15px rgba(53,53,53,0.2)
            background white

            &:hover
                box-shadow 0 0 15px rgba(53,53,53,1)
                .item
                    .item-thumbnail
                        opacity 0.5
                    .item-infos
                        opacity 1

            .item

                position relative
                border-radius 10px
                height 100%

                .item-thumbnail
                    transition opacity .3s ease-in-out
                    border-radius 10px
                    padding 10px
                    background-size 100%
                    background-position center
                    width 100%
                    height 100%
                    background-repeat no-repeat

                    img
                        border-radius 10px
                        width 100%

                .item-infos
                    padding 10px
                    font-size 12px
                    text-align left
                    opacity 0
                    transition opacity .5s ease-in-out
                    z-index 3
                    absolute top left
                    border-radius 10px
                    background rgba(27,27,27, 0.9)
                    width 100%
                    height 100%
                    color white
                    border-radius 10px

                    table
                        td
                            padding 1px 5px
                            font-size 11px

                .item-controls
                    text-align center
                    absolute bottom 5px left 0
                    width 100%
                    font-size 25px
                    z-index 10

                    a
                        color white
                        text-decoration none

                        i
                            cursor pointer
                            padding 5px
                            opacity 0.6
                            transition opacity .3s linear, width 300ms ease-in-out, height 300ms ease-in-out, font-size 300ms ease-in-out

                            &:hover
                                opacity 1
                                font-size 30px

                .popover
                    font-size 10px

                    .popover-content
                        padding 5px 9px

                &.note

                    .item-thumbnail
                        height 90%
                        overflow hidden

                        h3
                            text-align left
                            text-indent 5px
                            margin-top 0

                        .content
                            text-align left
                            font-size 11px
                            font-style italic

                &.file
                    .item-thumbnail
                        .infos
                            table
                                float left
                                td
                                    padding 3px 10px

                        i
                            color rgb(150, 150, 150)
                            font-size 100px
                            padding-bottom 10px
                            absolute bottom right 10px
                            opacity 0.4

                &.code

                    &:hover
                        .item-thumbnail
                            opacity 1
                        .background
                            color white
                            opacity 1

                    .item-thumbnail

                        &:before
                            content ''
                            color rgb(150, 150, 150)
                            opacity 0.2

                        .content
                            absolute top left
                            padding 5px
                            text-align left
                            overflow hidden
                            width 100%
                            height 100%

                            h3
                                text-align left
                                text-indent 5px
                                margin-top 5px
                            p
                                font-size 12px
                                padding 10px

                                code
                                    background transparent
                                    padding 0
                                    white-space pre
                                    overflow hidden
                                    width 100%
                                    display block


                    .item-infos
                        .item-controls
                            padding-top 0

                    .item-thumbnail
                        &:before
                            color rgba(0,0,0,0.6)
                    .item-infos
                        &:before
                            color rgba(255,255,255,0.2)

                    .item-thumbnail, .item-infos
                        &:before
                            display block
                            absolute top right
                            font-size 90px
                            z-index 1
                            font-weight bold
                            font-style italic
                            width 100%
                            text-align right
                            padding-right 10px
                            padding-top 10px

                        &.rb:before
                            content: 'rb'
                        &.java:before
                            content: 'java'
                            font-size 70px
                            line-height 140px
                        &.js:before
                            content: 'js'
                        &.py:before
                            content: 'py'
                        &.html:before
                            font-family FontAwesome
                            content: '\f13b'
                            font-weight normal
                            font-style normal
                        &.css:before
                            font-family FontAwesome
                            content: '\f13c'
                            font-weight normal
                            font-style normal

                &.file, &.image
                    .progress-container
                        absolute bottom 0 left 0
                        padding 0 20px 0
                        width 100%


    &.layout-list

        .item-container
            padding-top 10px
            padding-bottom 10px
            text-align left
            border-bottom 1px solid black
            transition background .3s ease-in-out, color .3s ease-in-out

            .row
                div
                    padding-top 5px

                    &.category-icon
                        font-family FontAwesome
                        font-size 22px
                        padding-left 30px
                        padding-top 0
                        text-align center

                        &.screenshot:before
                            content: '\f1c5'
                        &.note:before
                            content: '\f0f6'
                        &.file:before
                            content: '\f016'
                        &.code:before
                            content: '\f1c9'
                        &.shared-webcam:before
                            content: '\f03d'
                        &.screen:before
                            content: '\f030'
                        &.image:before
                            content: '\f03e'

                .item-controls
                    padding-top 8px

                    a
                        text-decoration none
                        color black
                        transition color .3s ease-in-out
                        float right

                        i
                            padding-left 10px
                            padding-right 10px
                            font-size 18px
                            opacity 0.7
                            cursor pointer
                            transition opacity .3s linear, width 300ms ease-in-out, height 300ms ease-in-out, font-size 300ms ease-in-out

                            &:hover
                                opacity 1
                                font-size 20px

            &:hover
                background rgba(27,27,27, 0.9)
                color white

                .item-controls
                    a
                        color white

        li
            &.ng-move, &.ng-enter, &.ng-leave
                transition opacity .75s ease-in-out

            &.ng-leave.ng-leave-active, &.ng-move, &.ng-enter
                opacity 0


            &.ng-leave, &.ng-move.ng-move-active, &.ng-enter.ng-enter-active
                opacity 1

.detail-view

    .heading
        .controls
            a
                display block
                float left
                text-decoration none
                margin-top 3px
                cursor pointer

                div
                    padding 7px 12px
                    color white
                    transition background .3s ease-in-out
                    border-radius 5px
                    margin 0 5px

                    &:hover
                        background rgba(27,27,27, 0.9)
                    i
                        padding 0 10px 0 0

                    span
                        width 0


    .jumbotron
        margin-bottom 0
        padding 50px

        .detail-heading
            input, h1
                border-radius 0
                border none
                font-size 60px
                font-weight bold
                color inherit
                margin-top 20px
                padding-bottom 10px
                font-weight 500
                line-height 1.1
                height auto
                transition background .5s ease-in-out

            h1
                border-bottom 1px solid darkgrey

        button
            margin-top 20px

        .mce-btn
            button
                margin-top 0

        .stream-container
            margin-top 20px

            video
                max-width 100%
                position relative


        .image-container, .file-container
            // box-shadow 0 0 15px rgba(53,53,53,1)
            width 100%
            margin-top 20px
            position relative

            &.file-container
                width 70%
                margin 20px auto
                box-shadow none
                border 1px dashed darkgrey

            img, .file
                max-width 100%

            .drop-box, .file
                display block
                width 100%
                height 300px
                font-size 50px
                line-height 300px
                text-align center
                font-style italic

                &.file
                    line-height 50px

                &.drag-over-class
                    background rgba(27,27,27, 0.7)
                    border 1px solid rgba(53,53,53,1)

            .progress-container
                absolute top left
                width 100%
                height 100%
                background rgba(27,27,27, 0.7)


                &.ng-hide-add, &.ng-hide-remove
                    display block !important

                &.ng-hide-add,
                &.ng-hide-remove
                    transition all .5s ease-in-out

                &.ng-hide
                    opacity 0

                .progress
                    width 50%
                    margin auto
                    margin-top 130px

            .img, .drop-box
                opacity 1

        .alert
            width 275px
            margin-top 20px

            &.ng-hide-add, &.ng-hide-remove
                display block !important

            &.ng-hide-add,
            &.ng-hide-remove
                transition all 1s ease-in-out

            &.ng-hide
                opacity 0

        .settings-container

            .form-group
                margin-right 15px

                select
                    height 36px

            &.image
                input
                    padding 5px 8px

                .form-group
                    padding-bottom 10px

        .code-container
            width 60%
            margin-top 20px
            height 300px
            position relative

            #editor, #editor2
                position absolute
                top 0
                right 0
                bottom 0
                left 0

        .note-container
            margin-top 20px
            position relative
            width 90%

            &.blocked
                .mce-toolbar-grp.mce-stack-layout-item
                    display none !important

        .download-container
            text-align center
            margin-top 60px

            a
                font-size 50px

                i
                    padding 15px


        .infos-container
            margin-top 20px

            button
                margin-right 10px

                i
                    margin-right 5px

            .info
                background rgba(27,27,27, 0.9)
                padding 5px 15px
                border-radius 10px
                color white
                margin 5px 5px
                display inline-block
                opacity 0.8
                transition opacity .3s ease-in-out
                font-size 12px

                b
                    padding-right 5px

                span
                    padding-right 5px

                &:hover
                    opacity 1
                    box-shadow 0 0 15px rgba(53,53,53,1)

.chat-expanded
    .detail-view
        .heading
            .controls
                div
                    span
                        display none
                    i
                        padding-right 0
        .alert
            width 60%

.modal
    overflow-y hidden

    .modal-title
        border-bottom 1px solid rgba(27,27,27, 0.9)

    .modal-body
        table
            margin 10px

            td
                padding 5px
