.sidenav-container
    *
        user-select none
        dragable false
        -webkit-user-drag: none;
        -moz-user-drag: none;
        user-drag: none;
    position fixed
    left -20px
    top 0
    height 100%
    width 35px
    z-index 2000000

    background linear-gradient(
        right, 
        rgba(63,63,63,1) 0%,
        rgba(13,13,13,1) 47%,
        rgba(1,1,1,1) 50%,
        rgba(10,10,10,1) 76%,
        rgba(56,56,56,1) 100%
    )
    box-shadow 0px 0px 19px 0px rgba(50, 50, 50, 0.75)
    
    transition left 300ms ease-in-out
    //border-right: 2px solid rgb(0,0,255)

    &:hover
        left 0px

    .sidenav
        position relative
        display table
        left 0px
        height 100%
        width 20px

        .icon-align
            display table-cell
            vertical-align middle
            width 100px
            //background: rgba(0,255,255,0.5)

            .icon-container
                position relative
                left -10px
                padding 10px
                padding-right 15px
                margin 5px
                //background-color rgba(120,0,0,0.5)

                &:hover
                    a.icon
                        width 66px
                        height 66px
                        border-radius 33px
                        text-decoration none
                        box-shadow: 0px 0px 175px rgba(0,0,0,1), inset 0px 0px 1px rgba(0,0,0,0.7);
                        + .subicons-container
                            display table
                            visibility visible
                            opacity 1
                            .subicons 
                                .subicon, .history-entry
                                    visibility visible
                                    opacity 1

                        &.menu-home:before
                            font-size 40px
                        &.menu-user:before
                            font-size 30px
                        &.menu-share:before
                            font-size 40px

                a.icon
                    position relative
                    width 50px
                    height 50px

                    display table
                    
                    transition width 300ms ease-in-out, height 300ms ease-in-out, border-radius 300ms ease-in-out, box-shadow 300ms ease-in-out

                    color #ffffff

                    background linear-gradient(
                        left,
                        #6b6b6b 0%,
                        #454545)
                    
                    border-radius 25px

                    box-shadow: 0px 1px 20px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(0,0,0,0.7);
                    text-shadow: 0px -1px 0px rgba(0,0,0,0.4), 0px 1px 0px rgba(0,0,0,0.3);
                    
                    font-family FontAwesome
                    font-style normal
                    font-weight normal
                    line-height 1
                    -webkit-font-smoothing antialised
                    -mos-osx-font-smoothing antialised


                    &:before
                        display table-cell
                        vertical-align middle
                        text-align center
                        margin 0 auto
                        padding 0


                    &.menu-home
                        &:before
                            content "\f015"
                            padding-left 0px
                            font-size 28px
                            transition font-size 300ms ease-in-out
                        &:hover:before
                            font-size 40px

                    &.menu-user
                        &:before
                            content "\f0c0"
                            padding-left 2px
                            //content "\f007"
                            font-size 20px
                            transition font-size 300ms ease-in-out
                        &:hover:before
                            font-size 30px

                    &.menu-share
                        &:before
                            //content "\f15b"
                            content "\f1e0"
                            padding-left 0px
                            font-size 28px
                            transition font-size 300ms ease-in-out
                        &:hover:before
                            font-size 40px


.subicons-container
    //background-color rgba(255,0,0,0.3)
    visibility hidden
    opacity 0
    display table
    position absolute
    height 450px
    left 80px
    top -181px

    &:hover
        visibility visible
        opacity 1
        .subicons 
            .subicon-container
                .subicon
                    visibility visible
                    opacity 1
    
    .subicons
        display table-cell
        vertical-align middle
        //background-color rgba(0,0,200,0.5)
        
        .subicon-container
            //background-color rgba(120,0,0,0.5)
            //width 120px
            padding 5px
            &:hover
                .subicon
                    visibility visible
                    opacity 1


            //&.top2
            &.top1
                padding-left 30px
            &.middle
                padding-left 40px
            &.bottom1
                padding-left 30px
            //&.bottom2

            a.subicon
                display table
                border-radius(25px)
                visibility hidden
                opacity 0
                height 50px
                width 50px
                background-color rgba(255,255,0,1)
                //margin 20px

                box-shadow: 0px 1px 75px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(0,0,0,0.7);
                text-shadow: 0px -1px 0px rgba(0,000,000,0.4), 0px 1px 0px rgba(0,0,0,0.3);
                
                color white

                font-family FontAwesome
                font-style normal
                font-weight normal
                line-height 1
                -webkit-font-smoothing antialised
                -mos-osx-font-smoothing antialised
                    
                text-decoration none

                background linear-gradient(top, #42aaff, #003366)

                &:before
                    display table-cell
                    vertical-align middle
                    text-align center
                    margin 0 auto
                    padding 0

                &:hover
                    width 65px
                    height 65px
                    border-radius(33px)
                    box-shadow: 0px 0px 30px rgba(0,0,0,1), inset 0px 0px 1px rgba(0,0,0,0.7);
                    
                &.menu-about
                    &:before
                        content "\f128"
                        //padding-left 0px
                        //content "\f007"
                        font-size 30px
                        transition font-size 300ms ease-in-out
                    &:hover:before
                        font-size 40px

                &.menu-tutorial
                    &:before
                        content "\f19d"
                        padding-left 1px
                        font-size 30px
                        transition font-size 300ms ease-in-out
                    &:hover:before
                        font-size 40px

                &.menu-create-room
                    display table 
                    .stack-align
                        display table-cell
                        vertical-align middle
                        span.fa-stack
                            i
                                transition font-size 300ms ease-in-out, top 300ms ease-in-out, left 300ms ease-in-out
                            i.fa-building
                                left -2px
                                font-size 23px
                                text-shadow 0px -1px 0px rgba(0,0,0,1), 0px 1px 0px rgba(0,0,0,0.3)
                            i.fa-plus
                                color rgba(0,255,0,1)
                                left 10px
                                top 1px
                                font-size 20px
                                text-shadow 0px -1px 2px rgba(0,0,0,1), 0px 1px 0px rgba(0,0,0,0.3)
                    &:hover
                        .stack-align
                            span.fa-stack
                                i.fa-building
                                    left -3px
                                    font-size 31px
                                i.fa-plus
                                    //color rgba(0,255,0,1)
                                    left 12px
                                    //top 10px
                                    font-size 29px

                &.menu-leave-room
                    display table 
                    .stack-align
                        display table-cell
                        vertical-align middle
                        span.fa-stack
                            i
                                transition font-size 300ms ease-in-out, top 300ms ease-in-out, left 300ms ease-in-out
                            i.fa-building
                                left -2px
                                font-size 23px
                                text-shadow 0px -1px 0px rgba(0,0,0,1), 0px 1px 0px rgba(0,0,0,0.3)
                            i.fa-arrow-right
                                color rgba(255,0,0,1)
                                left 10px
                                top 1px
                                font-size 20px
                                text-shadow 0px -1px 2px rgba(0,0,0,0.8), 0px 1px 0px rgba(0,0,0,0.3)
                    &:hover
                        .stack-align
                            span.fa-stack
                                i.fa-building
                                    left -3px
                                    font-size 31px
                                i.fa-arrow-right
                                    //color rgba(0,255,0,1)
                                    left 12px
                                    //top 10px
                                    font-size 29px


                &.menu-user-settings
                    display table 
                    .stack-align
                        display table-cell
                        vertical-align middle
                        span.fa-stack
                            i
                                transition font-size 300ms ease-in-out, top 300ms ease-in-out, left 300ms ease-in-out
                            i.fa-user
                                left -3px
                                font-size 30px
                                text-shadow 0px -1px 0px rgba(0,0,0,1), 0px 1px 0px rgba(0,0,0,0.3)
                            i.fa-gear
                                color rgba(200,200,200,1)
                                left 8px
                                top 8px
                                font-size 20px
                                text-shadow 0px -1px 2px rgba(0,0,0,0.8), 0px 1px 0px rgba(0,0,0,0.3)
                    &:hover
                        .stack-align
                            span.fa-stack
                                i.fa-user
                                    left -6px
                                    font-size 40px
                                i.fa-gear
                                    //color rgba(0,255,0,1)
                                    left 12px
                                    top 12px
                                    //top 10px
                                    font-size 29px

                &.menu-user-add
                    display table 
                    .stack-align
                        display table-cell
                        vertical-align middle
                        span.fa-stack
                            i
                                transition font-size 300ms ease-in-out, top 300ms ease-in-out, left 300ms ease-in-out
                            i.fa-user
                                left -3px
                                font-size 30px
                                text-shadow 0px -1px 0px rgba(0,0,0,1), 0px 1px 0px rgba(0,0,0,0.3)
                            i.fa-plus
                                color rgba(0,255,0,1)
                                left 8px
                                top 8px
                                font-size 20px
                                text-shadow 0px -1px 2px rgba(0,0,0,0.8), 0px 1px 0px rgba(0,0,0,0.3)
                    &:hover
                        .stack-align
                            span.fa-stack
                                i.fa-user
                                    left -6px
                                    font-size 40px
                                i.fa-plus
                                    //color rgba(0,255,0,1)
                                    left 12px
                                    top 12px
                                    //top 10px
                                    font-size 29px
                &.menu-share-screen
                    &:before
                        content "\f108"
                        padding-left 0px
                        font-size 30px
                        transition font-size 300ms ease-in-out
                    &:hover:before
                        font-size 40px
                
                &.menu-share-note
                    &:before
                        content "\f0f6"
                        padding-left 1px
                        font-size 30px
                        transition font-size 300ms ease-in-out
                    &:hover:before
                        font-size 40px

                &.menu-share-code
                    &:before
                        content "\f121"
                        padding-left 1px
                        font-size 30px
                        transition font-size 300ms ease-in-out
                    &:hover:before
                        font-size 40px
                    
                &.menu-share-image
                    &:before
                        content "\f03e"
                        padding-left 1px
                        font-size 30px
                        transition font-size 300ms ease-in-out
                    &:hover:before
                        font-size 40px
                
                &.menu-share-file
                    &:before
                        content "\f0c7"
                        padding-left 1px
                        font-size 30px
                        transition font-size 300ms ease-in-out
                    &:hover:before
                        font-size 40px
                
                &.menu-share-webcam
                    &:before
                        content "\f03d"
                        padding-left 1px
                        font-size 30px
                        transition font-size 300ms ease-in-out
                    &:hover:before
                        font-size 40px
                    
            /*.fa.fa-file.fa-inverse
                .subicon-container
                  .subicons
                    .subicon.top2
                      .fa.fa-desktop
                    .subicon.top1
                      .fa.fa-file-text-o
                    .subicon.middle
                      .fa.fa-picture-o
                    .subicon.bottom1
                      .fa.fa-floppy-o
                    .subicon.bottom2
                      .fa.fa-camera
            */       

            a.menu-user-history
                .history-align
                    padding-top 5px
                    padding-bottom 5px
                    border-radius 10px

                    transition box-shadow 300ms ease-in-out, background-color 300ms ease-in-out

                    /*
                    &:hover
                        box-shadow 0px 0px 15px 0px rgba(175,175,175,0.5) inset,0px 0px 20px 0px rgba(175,175,175,0.5)
                        background-color rgba(175,175,175,0.5)
                        border 1px solid black
                    */
                    &:hover
                        .history-entry
                            img 
                                background rgba(0,0,0,0.2)
                                box-shadow: 
                                    0px 0px 5px rgba(0,0,0,1),
                                    0px 0px 10px rgba(0,0,0,1)
                            span
                                text-shadow: 
                                    0px 0px 5px rgba(0,0,0,1),
                                    0px 0px 10px rgba(0,0,0,1),
                                    0px 0px 15px rgba(0,0,0,1),
                                    0px 0px 20px rgba(0,0,0,1),
                                    0px 0px 25px rgba(0,0,0,1),
                                    0px 0px 30px rgba(0,0,0,1)
                            
                    .history-entry
                        opacity 0
                        visibility hidden
                        width 200px
                        
                        padding 5px
                        margin 5px
                        
                        text-align left                       
                        img
                            float left
                            min-width 30px
                            max-width 30px
                            min-height 30px
                            max-height 30px
                            width 30px
                            height 30px
                            margin-right 2px
                            transition box-shadow 300ms ease-in-out
                        span
                            text-shadow:  
                                0px 0px 5px rgba(0,0,0,1),
                                0px 0px 10px rgba(0,0,0,1),
                                0px 0px 15px rgba(0,0,0,1)
                            transition color 300ms ease-in-out, text-shadow 300ms ease-in-out
                            width 150px
                            height 30px
                            overflow visible
                            line-height 30px
                            color white
                            vertical-align middle
                            padding-left 5px
                        
                &:hover
                    text-decoration none
                    box-shadow 0px 0px 20px 0px black


                                
            for delay in 1 2 3 4 5 6
                &:nth-child({delay})
                    .subicon
                        transition visibility 300ms ease-in-out 0.1s*delay, opacity 300ms ease-in-out 0.1s*delay, width 300ms ease-in-out, height 300ms ease-in-out, border-radius 300ms ease-in-out, box-shadow 300ms ease-in-out
                    .menu-user-history
                        for delay2 in 1 2 3 4 
                            .history-entry:nth-child({delay2})
                                transition visibility 300ms ease-in-out (0.1s*delay)+0.05s*delay2, opacity 300ms ease-in-out (0.1s*delay)+0.05s*delay2, box-shadow 300ms ease-in-out
                    
                
    

a.menu-user-history.tooltip
    & > span
        margin-top 75px
        margin-left 120px
 
a.icon.tooltip
    & > span
        color rgb(255,255,255)
        font-size 22px
        margin-top 20px
        margin-left 10px

a.tooltip
    outline none
    text-decoration none
    
    & > span
        text-align left
        width 300px
        padding 0
        margin-top 25px
        margin-left 10px
        opacity 0
        visibility hidden
        z-index 10
        position absolute
        font-family Arial
        font-size 18px
        font-style normal
        
        
        transition-property opacity, margin-top, visibility, margin-left
        transition-duration 0.4s, 0.3s, 0.4s, 0.3s
        transition-timing-function ease-in-out, ease-in-out, ease-in-out, ease-in-out
        transition-delay 0s, 0s, 0s, 0s
        //color #000
        //text-shadow 0px 0px 15px rgba(0,0,0,1), 0px 0px 5px rgba(0,0,0,1),0px 0px 25px rgba(0,0,0,1)       
        
        color #fff
        //text-shadow: 0px 0px 15px rgba(0,0,0,1), 0px 0px 5px rgba(0,0,0,1), 0px 0px 25px rgba(0,0,0,1)
        text-shadow: 
            0px 0px 5px rgba(0,0,0,1),
            0px 0px 10px rgba(0,0,0,1),
            0px 0px 15px rgba(0,0,0,1),
            0px 0px 20px rgba(0,0,0,1),
            0px 0px 25px rgba(0,0,0,1),
            0px 0px 30px rgba(0,0,0,1),
            0px 0px 40px rgba(0,0,0,1),
            0px 0px 50px rgba(0,0,0,1),
            0px 0px 75px rgba(0,0,0,1)

    &:hover
        & > span
            opacity 1
            text-decoration none
            visibility visible
            overflow visible
            display inline

            transition-property opacity, visibility
            transition-duration 0.4s, 0.4s
            transition-timing-function ease-in-out, ease-in-out
            transition-delay 0.5s, 0.5s
            z-index 200000





/*
.icon .fa
    font-size:33px
    margin: 10px
    margin-top: 8px
    transition font-size 300ms ease-in-out

.icon .fa.fa-users
    padding-top 3px
    font-size:30px

.icon .fa.fa-file
    padding-left 4px

.icon:hover .fa
    font-size:50px

.icon:hover .fa.fa-users
    font-size:45px

/*.icon:hover .subicon-container
    visibility visible
    opacity 1
******/





/*
.subicon:hover
    width 65px
    height 65px



.subicon.top2
    position:relative
    left: 0px
.subicon.top1
    position:relative
    left: 10px

.middle
    position relative
    left: 20px

.subicon.bottom1
    position:relative
    left: 10px
.subicon.bottom2
    position:relative
    left: 0px

.icon, .subicon
    cursor: pointer

#create-room-container
    min-width 450px
    width 50%
    max-width 700px
    float left
    margin-left 15%

.info-container
    position relative
    font-size 26px
    float left
    font-family 'Indie Flower'
    font-style italic
    font-weight 500

    .info
        border: 7px solid #c81e2b
        border-radius 200px / 110px
        padding 30px
        margin-top 50px
        left 90px
        position relative

        &:first-child
            left 130px
*/