.sidenav-container
    position fixed
    left -20px
    top 0
    height 100%
    width 35px

    background linear-gradient(
        right, 
        rgba(63,63,63,1) 0%,
        rgba(13,13,13,1) 47%,
        rgba(1,1,1,1) 50%,
        rgba(10,10,10,1) 76%,
        rgba(56,56,56,1) 100%
    )
    box-shadow 0px 0px 19px 0px rgba(50, 50, 50, 0.75)
    
    transition left 300ms ease-in-out
    //border-right: 2px solid rgb(0,0,255)

    &:hover
        left 0px

    .sidenav
        position relative
        display table
        left 0px
        height 100%
        width 20px

        .icon-align
            display table-cell
            vertical-align middle
            width 100px
            //background: rgba(0,255,255,0.5)

            .icon-container
                position relative
                left -10px
                padding 10px
                padding-right 15px
                margin 5px

                a.icon
                    position relative
                    width 50px
                    height 50px

                    display table
                    overflow hidden // <-- ff problems

                    transition width 300ms ease-in-out, height 300ms ease-in-out, border-radius 300ms ease-in-out

                    color #ffffff

                    background linear-gradient(
                        left,
                        #6b6b6b 0%,
                        #454545)
                    
                    border 1px solid #000000
                    border-radius 25px

                    box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.7);
                    text-shadow: 0px -1px 0px rgba(0,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
                    
                    font-family FontAwesome
                    font-style normal
                    font-weight normal
                    line-height 1
                    -webkit-font-smoothing antialised
                    -mos-osx-font-smoothing antialised

                    &:hover
                        overflow visible // <-- ff problems
                        width 66px
                        height 66px
                        border-radius 33px
                        text-decoration none
                        .subicon-container
                            display table
                            .subicons 
                                .subicon
                                    visibility visible
                                    opacity 1

                    &:before
                        display table-cell
                        vertical-align middle
                        text-align center
                        margin 0 auto
                        padding 0


                    &.menu-home
                        &:before
                            content "\f015"
                            padding-left 2px
                            font-size 28px
                            transition font-size 300ms ease-in-out
                        &:hover:before
                            font-size 40px

                    &.menu-chat
                        &:before
                            content "\f0c0"
                            padding-left 2px
                            //content "\f007"
                            font-size 20px
                            transition font-size 300ms ease-in-out
                        &:hover:before
                            font-size 30px

                    &.menu-share
                        &:before
                            content "\f15b"
                            padding-left 2px
                            font-size 28px
                            transition font-size 300ms ease-in-out
                        &:hover:before
                            font-size 40px


.subicon-container
    display table
    position absolute
    height 600px
    width 100px
    left 55px
    top (-300+30)px
    &:hover
        display table
        .subicons 
            .subicon
                visibility visible
                opacity 1

    .subicons
        display table-cell
        vertical-align middle
        background-color rgba(0,0,0,0.5)

        .subicon
            border-radius(10px)
            visibility hidden
            opacity 0
            height 50px
            width 50px
            background-color rgba(255,255,0,1)
            margin 20px

            &:hover
                width 65px
                height 65px

            for delay in 1 2 3 4 5 6 7 8 9 10
                &:nth-child({delay})
                    transition visibility 300ms ease-in-out 0.1s*delay, opacity 300ms ease-in-out 0.1s*delay, width 300ms ease-in-out, height 300ms ease-in-out




.clearfix
  clearfix()





/*
.icon .fa
    font-size:33px
    margin: 10px
    margin-top: 8px
    transition font-size 300ms ease-in-out

.icon .fa.fa-users
    padding-top 3px
    font-size:30px

.icon .fa.fa-file
    padding-left 4px

.icon:hover .fa
    font-size:50px

.icon:hover .fa.fa-users
    font-size:45px

/*.icon:hover .subicon-container
    visibility visible
    opacity 1
******/





/*
.subicon:hover
    width 65px
    height 65px



.subicon.top2
    position:relative
    left: 0px
.subicon.top1
    position:relative
    left: 10px

.middle
    position relative
    left: 20px

.subicon.bottom1
    position:relative
    left: 10px
.subicon.bottom2
    position:relative
    left: 0px

.icon, .subicon
    cursor: pointer

#create-room-container
    min-width 450px
    width 50%
    max-width 700px
    float left
    margin-left 15%

.info-container
    position relative
    font-size 26px
    float left
    font-family 'Indie Flower'
    font-style italic
    font-weight 500

    .info
        border: 7px solid #c81e2b
        border-radius 200px / 110px
        padding 30px
        margin-top 50px
        left 90px
        position relative

        &:first-child
            left 130px
*/