.sidenav-container
    *
        user-select none
        dragable false
        -webkit-user-drag: none;
        -moz-user-drag: none;
        user-drag: none;
    position fixed
    left -20px
    top 0
    height 100%
    width 35px
    z-index 2000000

    background linear-gradient(
        right,
        rgba(63,63,63,1) 0%,
        rgba(13,13,13,1) 47%,
        rgba(1,1,1,1) 50%,
        rgba(10,10,10,1) 76%,
        rgba(56,56,56,1) 100%
    )
    box-shadow 0px 0px 19px 0px rgba(50, 50, 50, 0.75)

    transition left 300ms ease-in-out

    &:hover
        left 0px

    .sidenav
        position relative
        display table
        left 0px
        height 100%
        width 20px

        .icon-align
            display table-cell
            vertical-align middle
            width 100px

            .icon-container
                position relative
                left -10px
                padding 10px
                padding-right 15px
                margin 5px

                &:hover
                    a.side-icon
                        width 66px
                        height 66px
                        border-radius 33px
                        text-decoration none
                        box-shadow 0px 0px 175px rgba(0,0,0,1), inset 0px 0px 1px rgba(0,0,0,0.7)
                        .notification
                            font-size 15px
                            padding 4px
                            left 51px
                        + .subicons-container
                            display table
                            visibility visible
                            opacity 1
                            .subicons
                                .subicon, .history-entry
                                    visibility visible
                                    opacity 1

                        &.menu-home:before
                            font-size 40px
                        &.menu-user:before
                            font-size 30px
                        &.menu-share:before
                            font-size 40px

                a.side-icon
                    position relative
                    width 50px
                    height 50px

                    display table

                    transition width 300ms ease-in-out, height 300ms ease-in-out, border-radius 300ms ease-in-out, box-shadow 300ms ease-in-out

                    color #ffffff

                    background linear-gradient(
                        left,
                        #6b6b6b 0%,
                        #454545)

                    border-radius 25px

                    box-shadow: 0px 1px 20px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(0,0,0,0.7);
                    text-shadow: 0px -1px 0px rgba(0,0,0,0.4), 0px 1px 0px rgba(0,0,0,0.3);

                    font-family FontAwesome
                    font-style normal
                    font-weight normal
                    line-height 1
                    -webkit-font-smoothing antialised
                    -mos-osx-font-smoothing antialised


                    &:before
                        display table-cell
                        vertical-align middle
                        text-align center
                        margin 0 auto
                        padding 0


                    &.menu-home
                        &:before
                            content "\f015"
                            padding-left 0px
                            font-size 28px
                            transition font-size 300ms ease-in-out
                        &:hover:before
                            font-size 40px

                    &.menu-user
                        &:before
                            content "\f0c0"
                            padding-left 2px
                            font-size 20px
                            transition font-size 300ms ease-in-out
                        &:hover:before
                            font-size 30px

                    &.menu-share
                        &:before
                            content "\f1e0"
                            padding-left 0px
                            font-size 28px
                            transition font-size 300ms ease-in-out
                        &:hover:before
                            font-size 40px


.subicons-container
    visibility hidden
    opacity 0
    display table
    position absolute
    height 450px
    left 80px
    top -181px

    &:hover
        visibility visible
        opacity 1
        .subicons
            .subicon-container
                .subicon
                    visibility visible
                    opacity 1

    .subicons
        display table-cell
        vertical-align middle

        .subicon-container
            padding 5px
            &:hover
                .subicon
                    visibility visible
                    opacity 1


            //&.top2
            &.top1
                padding-left 30px
            &.middle
                padding-left 40px
            &.bottom1
                padding-left 30px
            //&.bottom2

            a.subicon
                position relative
                display table
                border-radius(25px)
                visibility hidden
                opacity 0
                height 50px
                width 50px
                background-color rgba(255,255,0,1)

                box-shadow: 0px 1px 75px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(0,0,0,0.7);
                text-shadow: 0px -1px 0px rgba(0,000,000,0.4), 0px 1px 0px rgba(0,0,0,0.3);

                color white

                font-family FontAwesome
                font-style normal
                font-weight normal
                line-height 1
                -webkit-font-smoothing antialised
                -mos-osx-font-smoothing antialised

                text-decoration none

                background linear-gradient(top, #42aaff, #003366)

                &:before
                    display table-cell
                    vertical-align middle
                    text-align center
                    margin 0 auto
                    padding 0

                &:hover
                    width 65px
                    height 65px
                    border-radius(33px)
                    box-shadow: 0px 0px 30px rgba(0,0,0,1), inset 0px 0px 1px rgba(0,0,0,0.7);

                &.menu-about
                    &:before
                        content "\f128"
                        font-size 30px
                        transition font-size 300ms ease-in-out
                    &:hover:before
                        font-size 40px

                &.menu-tutorial
                    &:before
                        content "\f19d"
                        padding-left 3px
                        font-size 26px
                        transition font-size 300ms ease-in-out
                    &:hover:before
                        padding-top 3px
                        padding-left 1px
                        font-size 36px

                &.menu-create-room
                    display table
                    .stack-align
                        display table-cell
                        vertical-align middle
                        text-align center
                        span.fa-stack
                            i
                                transition font-size 300ms ease-in-out, top 300ms ease-in-out, left 300ms ease-in-out
                            i.fa-building
                                left -2px
                                font-size 23px
                                text-shadow 0px -1px 0px rgba(0,0,0,1), 0px 1px 0px rgba(0,0,0,0.3)
                            i.fa-plus
                                color rgba(0,255,0,1)
                                left 10px
                                top 1px
                                font-size 20px
                                text-shadow 0px -1px 2px rgba(0,0,0,1), 0px 1px 0px rgba(0,0,0,0.3)
                    &:hover
                        .stack-align
                            span.fa-stack
                                i.fa-building
                                    left -3px
                                    font-size 31px
                                i.fa-plus
                                    left 12px
                                    font-size 29px

                &.menu-leave-room
                    display table
                    .stack-align
                        display table-cell
                        vertical-align middle
                        text-align center
                        span.fa-stack
                            i
                                transition font-size 300ms ease-in-out, top 300ms ease-in-out, left 300ms ease-in-out
                            i.fa-building
                                left -2px
                                font-size 23px
                                text-shadow 0px -1px 0px rgba(0,0,0,1), 0px 1px 0px rgba(0,0,0,0.3)
                            i.fa-arrow-right
                                color rgba(255,0,0,1)
                                left 10px
                                top 1px
                                font-size 20px
                                text-shadow 0px -1px 2px rgba(0,0,0,0.8), 0px 1px 0px rgba(0,0,0,0.3)
                    &:hover
                        .stack-align
                            span.fa-stack
                                i.fa-building
                                    left -3px
                                    font-size 31px
                                i.fa-arrow-right
                                    left 12px
                                    font-size 29px


                &.menu-user-settings
                    display table
                    .stack-align
                        display table-cell
                        vertical-align middle
                        text-align center
                        span.fa-stack
                            i
                                transition font-size 300ms ease-in-out, top 300ms ease-in-out, left 300ms ease-in-out
                            i.fa-user
                                left -3px
                                font-size 30px
                                text-shadow 0px -1px 0px rgba(0,0,0,1), 0px 1px 0px rgba(0,0,0,0.3)
                            i.fa-gear
                                color rgba(200,200,200,1)
                                left 8px
                                top 8px
                                font-size 20px
                                text-shadow 0px -1px 2px rgba(0,0,0,0.8), 0px 1px 0px rgba(0,0,0,0.3)
                    &:hover
                        .stack-align
                            span.fa-stack
                                i.fa-user
                                    left -6px
                                    font-size 40px
                                i.fa-gear
                                    left 12px
                                    top 12px
                                    font-size 29px

                &.menu-user-add
                    display table
                    .stack-align
                        display table-cell
                        vertical-align middle
                        text-align center
                        span.fa-stack
                            i
                                transition font-size 300ms ease-in-out, top 300ms ease-in-out, left 300ms ease-in-out
                            i.fa-user
                                left -3px
                                font-size 30px
                                text-shadow 0px -1px 0px rgba(0,0,0,1), 0px 1px 0px rgba(0,0,0,0.3)
                            i.fa-plus
                                color rgba(0,255,0,1)
                                left 8px
                                top 8px
                                font-size 20px
                                text-shadow 0px -1px 2px rgba(0,0,0,0.8), 0px 1px 0px rgba(0,0,0,0.3)
                    &:hover
                        .stack-align
                            span.fa-stack
                                i.fa-user
                                    left -6px
                                    font-size 40px
                                i.fa-plus
                                    left 12px
                                    top 12px
                                    font-size 29px
                &.menu-share-screen
                    &:before
                        content "\f108"
                        padding-left 2px
                        padding-top 5px
                        font-size 24px
                        transition font-size 300ms ease-in-out
                    &:hover:before
                        padding-left 0
                        font-size 34px

                &.menu-share-note
                    &:before
                        content "\f0f6"
                        padding-left 2px
                        padding-top 0
                        font-size 26px
                        transition font-size 300ms ease-in-out
                    &:hover:before
                        font-size 36px

                &.menu-share-code
                    &:before
                        content "\f121"
                        padding-left 1px
                        font-size 30px
                        transition font-size 300ms ease-in-out
                    &:hover:before
                        font-size 40px

                &.menu-share-image
                    &:before
                        content "\f03e"
                        padding-left 1px
                        padding-top 1px
                        font-size 26px
                        transition font-size 300ms ease-in-out
                    &:hover:before
                        font-size 36px

                &.menu-share-file
                    &:before
                        content "\f0c7"
                        padding-left 1px
                        font-size 30px
                        transition font-size 300ms ease-in-out
                    &:hover:before
                        font-size 40px

                &.menu-share-webcam
                    &:before
                        content "\f03d"
                        padding-left 1px
                        font-size 30px
                        transition font-size 300ms ease-in-out
                    &:hover:before
                        font-size 40px


            a.menu-user-history
                position relative
                .side-popover
                    top 75px
                .history-align
                    padding-top 5px
                    padding-bottom 5px
                    border-radius 10px

                    transition box-shadow 300ms ease-in-out, background-color 300ms ease-in-out

                    &:hover
                        .history-entry
                            img
                                background rgba(0,0,0,0.2)
                                box-shadow:
                                    0px 0px 5px rgba(0,0,0,1),
                                    0px 0px 10px rgba(0,0,0,1)
                            span
                                text-shadow:
                                    0px 0px 5px rgba(0,0,0,1),
                                    0px 0px 10px rgba(0,0,0,1),
                                    0px 0px 15px rgba(0,0,0,1),
                                    0px 0px 20px rgba(0,0,0,1),
                                    0px 0px 25px rgba(0,0,0,1),
                                    0px 0px 30px rgba(0,0,0,1)

                    .history-entry
                        opacity 0
                        visibility hidden
                        width 275px

                        padding 5px
                        margin 5px

                        text-align left
                        img
                            float left
                            min-width 30px
                            max-width 30px
                            min-height 30px
                            max-height 30px
                            width 30px
                            height 30px
                            border-radius 5px
                            margin-right 10px
                            transition box-shadow 300ms ease-in-out
                        span
                            text-shadow:
                                0px 0px 5px rgba(0,0,0,1),
                                0px 0px 10px rgba(0,0,0,1),
                                0px 0px 15px rgba(0,0,0,1)
                            transition color 300ms ease-in-out, text-shadow 300ms ease-in-out
                            width 150px
                            height 30px
                            overflow visible
                            line-height 30px
                            color white
                            vertical-align middle
                            padding-left 5px

                &:hover
                    text-decoration none
                    box-shadow 0px 0px 20px 0px black



            for delay in 1 2 3 4 5 6
                &:nth-child({delay})
                    .subicon
                        transition visibility 300ms ease-in-out 0.1s*delay, opacity 300ms ease-in-out 0.1s*delay, width 300ms ease-in-out, height 300ms ease-in-out, border-radius 300ms ease-in-out, box-shadow 300ms ease-in-out
                    .menu-user-history
                        for delay2 in 1 2 3 4
                            .history-entry:nth-child({delay2})
                                transition visibility 300ms ease-in-out (0.1s*delay)+0.05s*delay2, opacity 300ms ease-in-out (0.1s*delay)+0.05s*delay2, box-shadow 300ms ease-in-out

.notification-inactive
    .notification
        position absolute
        visibility hidden
        opacity 0

.side-tooltip-inactive
    a.side-tooltip:hover
        .side-popover
            visibility hidden
            opacity 0
            position absolute
a
    .notification
        position absolute
        left 40px
        top -3px
        border-radius 1px
        padding 3px 2px 2px
        font-size 10px
        display table
        vertical-align middle
        border 1px solid #d9534f
        background #d9534f
        font-weight normal
        font-family sans-serif
        box-shadow 1px 1px 1px 0px black,-1px -1px 1px 0px white
        transition left 300ms ease-in-out, font-size 300ms ease-in-out, padding 300ms ease-in-out

        &.ng-hide-remove
            display block !important

        &.ng-hide-remove
            transition all .5s ease-in-out

        &.ng-hide
            opacity 0

a.side-tooltip
    .side-popover
        -webkit-background-clip padding-box
        background-clip padding-box
        background-color rgb(48, 48, 48)
        border-radius 6px
        border 1px solid rgb(48, 48, 48)
        box-shadow 0px 0px 10px 0px rgba(0, 0, 0, 1)
        box-sizing border-box
        color rgb(255, 255, 255)
        font-size 12px
        margin-left 10px
        padding 1px
        position absolute
        top 15px
        left 75px
        white-space nowrap
        width auto
        z-index 100010
        visibility hidden
        opacity 0
        font-family Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif

        transition-property opacity, margin-top, visibility, margin-left
        transition-duration 0.4s, 0.3s, 0.4s, 0.3s
        transition-timing-function ease-in-out, ease-in-out, ease-in-out, ease-in-out
        transition-delay 0s, 0s, 0s, 0s
        .arrow

            border-bottom 10px solid rgba(0, 0, 0, 0)
            border-left 0px solid rgba(0, 0, 0, 0)
            border-right 10px solid rgba(0, 0, 0, 0.25)
            border-top 10px solid rgba(0, 0, 0, 0)

            color rgb(255, 255, 255)
            height 20px
            left -11px
            top 25%
            position absolute
            width 10px

            &:after
                border-bottom 10px solid rgba(0, 0, 0, 0)
                border-left 0px solid rgba(0, 0, 0, 0)
                border-right 10px solid rgb(48, 48, 48)
                border-top 10px solid rgba(0, 0, 0, 0)
                height 20px
                left 1px
                top -11px
                position absolute
                width 10px
                content ""

        > .content
            padding 9px 14px
    &:hover
        .side-popover
            opacity 1
            text-decoration none
            visibility visible
            overflow visible
            display inline

            transition-property opacity, visibility
            transition-duration 0.4s, 0.4s
            transition-timing-function ease-in-out, ease-in-out
            transition-delay 0.5s, 0.5s
            z-index 200000
