@import "nib"

.user-container
    width 90%
    margin 30px auto

    .user
        list-style-type none

        &.ng-move, &.ng-enter, &.ng-leave
            transition opacity .75s ease-in-out

        &.ng-leave.ng-leave-active, &.ng-move, &.ng-enter
            opacity 0
          
        &.ng-leave, &.ng-move.ng-move-active, &.ng-enter.ng-enter-active
            opacity 1
  
    &.layout-icons
        
        .user
            position relative
            text-align center
            opacity 1
            margin-top 30px

            .user-inner
                position relative
                width 100%

                img
                    height 100%
                    width 100%
                    border-radius 25px
                    

                .info, .controls
                    background rgba(27,27,27, 0.9)
                    height 0%
                    opacity 0
                    transition opacity .4s ease-in-out, height .4s ease-in-out
                    width 100%
                .info
                    absolute top left
                    font-size 24px
                    font-weight bold
                    color white
                    padding-top 10px
                    border-radius 25px 25px 0 0

                    .joined
                        absolute bottom right
                        font-size 11px
                        padding 5px
                        font-weight normal

                .controls
                    absolute bottom left
                    border-radius 0 0 25px 25px
                    color white

                    .controls-inner
                        display table
                        margin auto
                        padding-top 6px

                        a
                            color white
                            text-decoration none
                            font-size 22px
                            padding 10px
                            transition font-size .3s ease-in-out
                            display block
                            float left

            &:hover    

                .user-inner
                    .info, .controls
                        opacity 0.8

                        &:hover
                            opacity 1

                    .info
                        height 25%

                    .controls
                        height 20%

                        &:hover
                            a:hover
                                font-size 26px

    &.layout-list
        width 100%
        margin-top 40px

        .user
            transition background .4s ease-in-out
            padding-left 50px
            border-bottom 1px solid rgba(27, 27, 27, 0.9)

            .user-inner
                padding 10px

                img, .info, .controls
                    float left
                    padding 5px

                img
                    width 50px
                    margin-right 30px

                .info
                    font-size 15px

                    .joined
                        font-size 11px

                .controls
                    float right
                    font-size 16px
                    padding 0

                    a
                        color rgba(27, 27, 27, 0.9)
                        padding 10px
                        transition font-size .3s ease-in-out
                        display block
                        float left

                        &:hover
                            font-size 20px

            &:hover
                background rgba(27,27,27, 0.9)
                color white

                .user-inner .controls
                    a
                        color white
