.detail-view.shared-screenshot-container
    .heading.clearfix
        .row
            .col-xs-12.controls.clearfix
                .brand
                    a(href="/") Unwatched
                a(href="/share")
                    .back
                        i.fa.fa-arrow-left
                        span Overview
                a(ng-href="{{item.path}}")
                    .download
                        i.fa.fa-download
                        span Download
                a(ng-href="#", ng-click="save()")
                    .copy-clipboard
                        i.fa.fa-clipboard
                        span Copy infos to clipboard
                a(ng-href="#", ng-click="delete()")
                    .copy-clipboard
                        i.fa.fa-trash-o
                        span Remove

    .jumbotron
        .detail-heading
            edit-in-place(value="item.name")
                h1 {{item.name}}.{{item.extension}}
                input.form-control(type="text", ng-model="item.name")

        .infos-container
            .info
                b Lines:
                | {{item.size}}
            .info
                b Author:
                | {{users[item.author].name}}
            .info
                b Contributors:
                span(ng-repeat="contributor in item.contributors")
                    | {{users[contributor.id].name}}
            .info
                b Created:
                | {{item.created | date: 'dd.MM.yyyy - HH:mm'}}
            .info(ng-show="item.last_edited")
                b Last edited:
                | {{item.last_edited | date: 'dd.MM.yyyy - HH:mm'}}
            .info
                b Category:
                | {{item.category}}

        .settings-container
            h4 Settings
            form.form-inline(role="form")
                .form-group
                    select.form-control(ng-model="settings.extension",
                        ng-options="extension.name for extension in settings.available_extensions")
                .form-group
                    select.form-control(ng-model="settings.font_size",
                        ng-options="font_size.name for font_size in settings.available_font_sizes")
                .form-group
                    select.form-control(ng-model="settings.theme",
                        ng-options="theme.name for theme in settings.available_themes")


        .code-container(resizable, on-resize="containerResize()",
            resize-detail-view)
            #editor

        .code-container(resizable, on-resize="containerResize()",
            resize-detail-view)
            #editor2
