div
    .item-thumbnail(ng-class="item.extension")
        .content
            h3 {{item.name}}.{{item.extension}}
            p
                code(ng-bind-html="item.thumbnail")
    .item-infos
        table(ng-class="item.extension")
            tr
                td
                    b Name
                td {{item.name}}
                tr
                    td
                        b Extension
                    td {{item.extension}}
            tr
                td
                    b Size
                td {{item.size}}
            tr
                td
                    b Author
                td {{item.author}}
            tr
                td
                    b Created
                td {{item.created}}

        .item-controls.clearfix
            span
                i.fa.fa-trash-o
            span
                i.fa.fa-clipboard
            span
                i.fa.fa-download
            span
                i.fa.fa-pencil