.detail-view.shared-file-container
    .heading.clearfix.controls
        .row
            .col-xs-12.controls.clearfix
                .brand
                    a(href="/") Unwatched
                a(href="/share")
                    .back
                        i.fa.fa-arrow-left
                        span Overview
                a( ng-download="'{{item.name}}'",
                    content="file.source", mime-type="'{{item.mime_type}}'" )
                    .download
                        i.fa.fa-download
                        span Download
                a(ng-href="#", ng-click="save()")
                    .copy-clipboard
                        i.fa.fa-clipboard
                        span Copy infos to clipboard
                a(ng-href="#", ng-click="delete()")
                    .copy-clipboard
                        i.fa.fa-trash-o
                        span Remove

    .jumbotron
        .detail-heading
            edit-in-place(value="item.name")
                h1 {{item.name}}
                input.form-control(type="text", ng-model="item.name")

        .infos-container
            .info
                b Size:
                | {{item.size | humanReadableFileSize}}
            .info
                b Author:
                | {{users[item.author].name}}
            .info(ng-show="item.created!=''")
                b Created:
                | {{item.created | date: 'dd.MM.yyyy - HH:mm'}}
            .info(ng-show="item.uploaded!=''")
                b Uploaded:
                | {{item.uploaded | date: 'dd.MM.yyyy - HH:mm'}}
            .info(ng-show="item.mime_type!=''")
                b MIME-Type:
                | {{item.mime_type}}
            .info
                b Category:
                | {{item.category}}

        .settings-container.image(ng-hide="file.ready")
            h4 Choose a file from you drive
            form.form-inline(role="form")
                .form-group
                    input.form-control(type="file",
                        ng-file-select="onFileSelect($files)")

        .file-container(ng-hide="file.ready")
            .drop-box(ng-file-drop="onFileSelect($files)",
                ng-file-drag-over-class="drag-over-class")
                | or drop files here
            .progress-container(ng-show="file.show_progress")
                progressbar.progress-striped.active(max="100", type="info",
                    value="file.progress")
                    i {{file.progress}}%
        .alert.alert-success(ng-show="file.ready")
            | You have <strong>successfully</strong> shared an item.
        .image-container.ng-hide(ng-show="item.category=='image'")
            .img.ng-hide(ng-show="file.ready")
                img.thumbnail(ng-src="{{item.content}}")
