.detail-view.shared-file-container
    .heading.clearfix.controls
        .row
            .col-xs-12.controls.clearfix
                .brand
                    a(href="/") Unwatched
                a(href="/share")
                    .back
                        i.fa.fa-arrow-left
                        span Overview
                a(ng-href="#", ng-click="delete()")
                    .copy-clipboard
                        i.fa.fa-trash-o
                        span Remove

    .jumbotron
        .detail-heading
            edit-in-place(value="item.name")
                h1 {{item.name}}
                input.form-control(type="text", ng-model="item.name")

        .infos-container
            .info(ng-show="item.size!=0")
                b Size:
                | {{item.size | humanReadableFileSize}}
            .info
                b Author:
                | {{users[item.author].name}}
            .info(ng-show="item.created!=''")
                b Created:
                | {{item.created | date: 'dd.MM.yyyy - HH:mm'}}
            .info(ng-show="item.uploaded")
                b Uploaded:
                | {{item.uploaded | date: 'dd.MM.yyyy - HH:mm'}}
            .info(ng-show="item.mime_type")
                b MIME-Type:
                | {{item.mime_type}}
            .info
                b Category:
                | {{item.category}}

        .settings-container.image.ng-hide(ng-if="newFile")
            h4 Choose a file from you drive
            form.form-inline(role="form")
                .form-group
                    input.form-control.ng-file-select(type="file",
                        ng-file-select="onFileSelect($files)")

        .alert.alert-success(ng-show="item.progress==100 && newFile")
            | You have <strong>successfully</strong> shared a file.
        .file-container(ng-if="newFile")
            .drop-box(ng-file-drop="onFileSelect($files)",
                ng-file-drag-over-class="drag-over-class", ng-click="uploadFile()")
                | or drop file here
            .progress-container(ng-if="item.progress < 100 && item.progress > 0")
                progressbar.progress-striped.active(max="100", type="info",
                    value="item.progress")
                    i {{item.progress}}%
        .download-container(ng-if="!newFile")
            img.thumbnail(src="{{item.thumbnail}}", ng-if="item.category=='image' || item.category=='screenshot'")
            .progress-container(ng-if="item.progress < 100 && item.progress > 0")
                progressbar.progress-striped.active(max="100", type="info",
                    value="item.progress")
                    i {{item.progress}}%
            p.text-muted(ng-if="item.category=='image' || item.category=='screenshot'")
                | Download image for max resolution
            a.btn.btn-default.btn-lg(href="{{item.content}}", download="{{item.name}}", ng-disabled="item.content == '' || !item.content")
                i.fa.fa-download
                |  Download
