div
    .item-thumbnail
        h3 {{item.thumbnail.title}}
        .content(ng-bind-html="item.thumbnail.content")
    .item-infos
        table
            tr
                td
                    b Name
                td {{item.name}}
            tr
                td
                    b Size
                td {{item.size}}
            tr
                td
                    b Author
                td {{item.author}}
            tr
                td
                    b Created
                td {{item.created}}
            tr
                td
                    b Edited
                td {{item.edited}}
        .item-controls.clearfix
            span
                i.fa.fa-trash-o
            span
                i.fa.fa-clipboard
            span
                i.fa.fa-download
            span
                i.fa.fa-pencil