.detail-view.shared-screenshot-container
    .heading.clearfix.controls
        .row
            .col-xs-12.controls.clearfix
                .brand
                    a(href="/") Unwatched
                a(href="/share")
                    .back
                        i.fa.fa-arrow-left
                        span Overview
                a(ng-download="'{{item.name}}.html'",
                    content="item.content" )
                    .download
                        i.fa.fa-download
                        span Download
                a(ng-href="#",  clip-copy="getClipText()")
                    .copy-clipboard
                        i.fa.fa-clipboard
                        span Copy text to clipboard
                a(ng-href="#", ng-click="save()")
                    .save
                        i.fa.fa-save
                        span Save
                a(ng-href="#", ng-click="delete()")
                    .remove
                        i.fa.fa-trash-o
                        span Remove

    .jumbotron
        .detail-heading
            edit-in-place(value="item.name")
                h1 {{item.name}}
                input.form-control(type="text", ng-model="item.name")

        .infos-container
            .info
                b Author:
                | {{users[item.author].name}}
            .info
                b Created:
                | {{item.created | date: 'dd.MM.yyyy - HH:mm'}}
            .info(ng-show="item.last_edited")
                b Last edited:
                | {{item.last_edited | date: 'dd.MM.yyyy - HH:mm'}}
            .info(ng-show="item.contributors")
                b Contributors
                span(ng-repeat="contributor in item.contributors")
                    | {{users[contributor].name}}
            .info
                b Category:
                | {{item.category}}

        .infos-container
            .alert.alert-success(ng-show="success", ng-bind="'Successfully saved and shared.'")
            .alert.alert-info(ng-show="copiedText")
                | Copied infos to clipboard.

        .note-container(ng-class="{'blocked':blocked}")
            form
                textarea#editor(ui-tinymce="tinymceOptions", ng-model="item.content")
