.detail-view.shared-image-container
    .heading.clearfix.controls
        .row
            .col-xs-12.controls
                a(href="/share")
                    .back
                        i.fa.fa-arrow-left
                        span Overview
                a(ng-href="#", ng-click="save()")
                    .copy-clipboard
                        i.fa.fa-clipboard
                        span Copy infos to clipboard
                a(ng-href="#", ng-click="delete()")
                    .copy-clipboard
                        i.fa.fa-trash-o
                        span Remove

    .jumbotron
        .detail-heading
            h1
                | {{item.name}} 
        .infos-container
            .info
                b Author: 
                | {{item.author}}
            .info
                b Created: 
                | {{item.created}}
            .info
                b Category: 
                | {{item.category}}

        .video-container
            video(autoplay, screen)
