.detail-view.shared-screen-container
    .heading.clearfix.controls
        .row
            .col-xs-12.controls.clearfix
                .brand
                    a(href="/") Unwatched
                a(href="/share")
                    .back
                        i.fa.fa-arrow-left
                        span Overview
                a(ng-href="#", ng-click="save()")
                    .copy-clipboard
                        i.fa.fa-clipboard
                        span Copy infos to clipboard
                a(ng-href="#", ng-click="delete()")
                    .copy-clipboard
                        i.fa.fa-trash-o
                        span Remove

    .jumbotron
        .detail-heading
            h1(ng-show="item", ng-bind="item.name")
            h1(ng-hide="item", ng-bind="'Share a stream'")
        .infos-container
            .info
                b Author:
                | {{users[item.author].name}}
            .info
                b Created:
                | {{item.created | date: 'dd.MM.yyyy - HH:mm'}}
            .info(ng-show="item.category!=''")
                b Category:
                | {{item.category}}

        .infos-container
            button.btn.btn-primary(ng-href="#", ng-click="startSharing('webcam')"
                ng-hide="item", ng-bind="'Share my webcam'")
            button.btn.btn-primary(ng-href="#", ng-click="startSharing('screen')"
                ng-hide="item", ng-bind="'Share my screen'")
            button.btn.btn-danger(ng-href="#", ng-show="item",
                kill-stream="{{item.category}}", ng-bind="'Stop sharing'")
            button.btn.btn-primary(ng-href="#", ng-show="item",
                ng-click="snapshot()")
                i.fa.fa-camera
                | Snapshot!


        .stream-container
            .centered
                video(autoplay, show-stream, ng-if="item")
